In [ ]:
#Data.csv

**Step 1: Importing the libraries**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Step 2: Importing dataset**

In [2]:
data=pd.read_csv("/content/Data (26).csv")

**Step 3: Handling the missing data**

In [3]:
data.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [6]:
data["Age"].fillna(data['Age'].mode()[0],inplace=True)
data.isnull().sum()


data["Salary"].fillna(data['Salary'].mode()[0],inplace=True)
data.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

**Step 4: Encoding categorical data**

In [7]:
data

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0  48000.0       Yes
5   France  35.0  58000.0       Yes
6    Spain  27.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [9]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
# Encode labels in column 'AREA, PARK_FACIL, UTILITY_AVAIL'. 
data['Purchased']= label_encoder.fit_transform(data['Purchased'])

**Step 5: Creating a dummy variable**

In [14]:
data = pd.get_dummies(data,columns=['Country'])
data

    Age   Salary  Purchased  Country_0  Country_1  Country_2
0  44.0  72000.0          0          1          0          0
1  27.0  48000.0          1          0          0          1
2  30.0  54000.0          0          0          1          0
3  38.0  61000.0          0          0          0          1
4  40.0  48000.0          1          0          1          0
5  35.0  58000.0          1          1          0          0
6  27.0  52000.0          0          0          0          1
7  48.0  79000.0          1          1          0          0
8  50.0  83000.0          0          0          1          0
9  37.0  67000.0          1          1          0          0

In [15]:
data

    Age   Salary  Purchased  Country_0  Country_1  Country_2
0  44.0  72000.0          0          1          0          0
1  27.0  48000.0          1          0          0          1
2  30.0  54000.0          0          0          1          0
3  38.0  61000.0          0          0          0          1
4  40.0  48000.0          1          0          1          0
5  35.0  58000.0          1          1          0          0
6  27.0  52000.0          0          0          0          1
7  48.0  79000.0          1          1          0          0
8  50.0  83000.0          0          0          1          0
9  37.0  67000.0          1          1          0          0

**Step 6: Splitting the datasets into training sets and Test sets**

In [16]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data[data.columns[:-1]].values, data['Purchased'].values, test_size=0.20, random_state=777)
x_train.shape, x_test.shape
#y_train.shape,y_test.shape

((8, 5), (2, 5))

**Step 7: Feature Scaling**

In [17]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler() #initialising
 # find the values of mu and sigma
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test) #only transform the test dataset, dont fit it

In [18]:
x_train
x_test

array([[-0.9807966 , -0.63644583, -1.29099445, -0.77459667,  1.73205081],
       [ 0.790965  ,  0.79555728, -1.29099445,  1.29099445, -0.57735027]])